$PRIMARY: #7767f6;
$BG_LIGHT: #f8f7fa;
$TRANSPARENT: transparent;

$NEUTRAL05: #f3f3f3;
$NEUTRAL10: #e7e7e8;
$NEUTRAL20: #cfcfd0;
$NEUTRAL40: #a0a0a1;
$NEUTRAL60: #707072;
$NEUTRAL80: #404043;
$NEUTRAL90: #28282c;
$NEUTRAL95: #1c1c20;
$NEUTRAL100: #111014;

$ACCENT1: #e3b4fa;
$ACCENT2: #f59d7f;
$ACCENT3: #8cc8fa;
$ACCENT4: #caf99c;
$ACCENT5: #a2f0eb;
